In [2]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline
import pandas as pd
import seaborn as sns
sns.set(style="white",color_codes=True)
plt.rcParams['figure.figsize'] = (15,9.27)
# Set the font set of the latex code to computer modern
matplotlib.rcParams['mathtext.fontset'] = "cm"

In [3]:
df = pd.read_csv('data/titanic/train.csv')

titanic = df.drop('Name',axis=1)

titanic.drop(['Ticket','Cabin','Embarked','PassengerId'],axis=1,inplace=True)

def encode(x):
    if x == 'male':
        return 1
    else:
        return 0

titanic['ismale'] = titanic.Sex.apply(encode)
titanic.drop('Sex',axis=1,inplace=True)
titanic.dropna(inplace=True)

titanic.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  ismale
0         0       3  22.0      1      0   7.2500       1
1         1       1  38.0      1      0  71.2833       0
2         1       3  26.0      0      0   7.9250       0
3         1       1  35.0      1      0  53.1000       0
4         0       3  35.0      0      0   8.0500       1

In [4]:
def feature_importance(df,target,show_plot=False):
    from sklearn.ensemble import RandomForestClassifier
    model = RandomForestClassifier()
    y = df[target]
    x = df.drop(target,axis=1)
    model.fit(x,y)
    res_df = pd.DataFrame({'feature':x.columns,'importance':model.feature_importances_})
    res = res_df.sort_values('importance',ascending=False)
    res['cum_importance'] = res.importance.cumsum()
    if show_plot == True:
        plt.subplot(121)
        sns.barplot(res.feature,res.importance)
        plt.subplot(122)
        plt.plot(np.arange(1,res.shape[0]+1),res.cum_importance,linewidth=2)
    return(res)

In [6]:
feature_importance(titanic,'Survived')

  feature  importance  cum_importance
4    Fare    0.297697        0.297697
1     Age    0.279164        0.576862
5  ismale    0.242556        0.819417
0  Pclass    0.097630        0.917047
2   SibSp    0.053229        0.970276
3   Parch    0.029724        1.000000